html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 300;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

form {
    margin:auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid black 1px;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    color: #bfc406;
}

img {
    display: block;
    max-width: 100%;
}

a {
    font-weight: 700;
    color: #d14348;
}

a:focus,
a:hover {
    text-decoration: none;
}

em {
    font-weight: 700;
    font-size: 140%;
    color: #f3d350;
    font-style: normal;
}

.header {
    background: -webkit-linear-gradient( top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5));
    background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}

 .branding {
    max-width: 180px;
    margin: 0 auto;
}

.forecast .prefs .conditions .city {
    font-weight: bold;
}


.nav .nav-elements .forecast {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 350px;
    min-width: 250px;
}

.nav .nav-elements .forecast p {
    text-align: center;
    margin: 0.4em;
}

.nav .nav-elements .forecast img {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    vertical-align: bottom;
}

.nav .nav-elements .forecast .prefs h3 {
    background-color: black;
    padding: 0.2em;
    text-align: center;
}

.nav .nav-elements .forecast .prefs {
    border: 1px solid white;
    text-align: center;
}