html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 300;
}

.container {
    margin: 50px auto;
    background-color: #f4f3f3;
    max-width: 20%;
    font-weight: bold;
}

form {
    margin:auto;
    text-align: center;
    border: solid black 1px;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: #bfc406;
}

.instructions, .about {
    margin: auto;
    max-width: 75%;
    text-align: left;
}


img {
    display: inline;
    max-width: 100%;
}

a {
    font-weight: 700;
    color: #fa5258;
}

p{
    max-width: 75%;
    margin: 10px auto;
}

em {
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

    font-weight: 700;
    font-size: 100%;
    color: #f3d350;
    font-style: normal;
}

.forecast-button{
   background-color: gold;
}

.header {
    background: -webkit-linear-gradient( top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5));
    background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}

.headline {
    margin: 30px auto;
}

.forecast {
    font-weight: bold;
    background-color: black;
}

 .forecast img {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    vertical-align: bottom;
}
code {
    display: inline;
    background-color: #d6d6d6;
    padding: 0 10px;
    max-width: 50%;
}

footer {
    background-color: #f4f3f3;
}